*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #abb;
}

main {
  border-style: groove;
  border-color: #aa7;
  align-self: center;
  text-align: center;
  margin:10px;
}

iframe {
  border-style: groove;
  border-width: 10px;
}

footer {
  background-color: #677;
}

/* Styles for the history table */
.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Header styles */
.history-table th {
  background-color: #4CAF50; /* Green */
  color: white;
  text-align: left;
}

/* Row styles */
.history-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray */
}

/* Hover effect */
.history-table tr:hover {
  background-color: #ddd; /* Gray */
}


.btn{
  background-color: lime; /* Changed button background color */
  color: auto;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  /*width: calc(100% - 20px); /* Adjusted width */
  margin: 20px auto 10px; /* Adjusted margins */
}

nav {
  top:0;
  background-color: #555;
  border-style: groove;
  border-color: #aa7;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav>ul>li:hover {
  background-color: #222;
}


nav>ul>li {
  display: inline-block;
}


li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.userlog {
  border-right:none;
  float:right;
}

.loggedin {
  text-align: center;
  padding: 14px 16px;
  color:lightgreen;
}

#navplay {
  background-color: lime;
  color:#222;
}

@keyframes horizontalRightSize {
  from {padding-right: 100%}
  to {padding-right:10vw};
}

#navplay:hover {
  background-color: limegreen;
  animation-name: horizontalRightSize;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#navplay:active {
  background-color: lightgreen;
  box-shadow: #677;
}